# PyTorch Core
torch
torchvision
torchaudio

# Model & Architecture
transformers
accelerate

# Data & ML Math
pandas
numpy
scipy
scikit-learn

# Vision & Ultra-Fast DICOM C++ Parser
opencv-python-headless
dicomsdl

# Pseudo-Labeling Extraction
google-genai
tenacity

# Utilities
tqdm

kagglehub
python-dotenv
